.scoreboard{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-top: 25px;
    align-items: center;
}
.Header{
    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    margin: 0 0;
}
.top{
    font-size: 1.5rem;
    align-items: center;
    margin: 0 15px;
}
.grid{
    display: flex;
    gap: 0.94em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .Header{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}